@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 2 103 107;
  --secondary: 223 241 241;
  --toast: 76 187 23;
  --dark: 51 51 51;
  --text-clr: var(--dark);
  --base-clr: 117 119 139;
  --base-clr2: 245 245 255;
  --base-clr3: 246 247 250;

  --drawer-width: 16rem;
  --navbar-height: 5rem;
}

.orange {
  --primary: 253 116 1;
}
.brown {
  --primary: 187 93 39;
}
.violet {
  --primary: 81 21 140;
}
.forestGreen {
  --primary: 37 110 21;
}
.deepskyblue {
  --primary: 0 191 255;
}
.mediumblue {
  --primary: 0 0 255;
}
.indigo {
  --primary: 75 0 130;
}
body {
  font-family: "Inter Tight", "Days One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-synthesis-weight: none;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  font-style: normal;
  @apply text-text-clr text-sm;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
}

.show-scrollbar {
  overflow: auto;
  padding: 0 0.15rem;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: theme("colors.text-clr");
  visibility: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.show-scrollbar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.show-scrollbar::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

*:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  box-shadow: 0px 0px 0px 2px theme("colors.primary");
}

i,
svg {
  pointer-events: none;
}

/* RIpple aEffect */

.__ripple {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
.__ripple .__ripple_child {
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #ddd;
  filter: contrast(0.4);
  border-radius: 99999px;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}

.__ripple_animation {
  top: var(--y);
  left: var(--x);
  animation: ripple 0.4s ease-out;
}

@keyframes ripple {
  100% {
    width: var(--btnWidth);
    height: var(--btnWidth);
    opacity: 0;
  }
}
